.form-header {
    background-color: #282c34;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    justify-content: center;
}

.space{
    margin-top: 2rem;
}

.link{
    margin-bottom:1rem;
    width:100%;
    text-align: right;
}