.page-title{
    color: hsl(209, 71%, 44%);
    font-size:3.3rem;
    padding:4vh;
}

.error-msg{
    min-height:100vh;
    flex-direction: column;
    display:flex;
    justify-items: center;
}

.character-pic{
    border-radius: 25%;
}

.css-z7uhs0-MuiStepConnector-line {
    display:none !important;
}

.character-search-form{
    width:40vh;
}